.FeaturedTeacher {
  background-color: #fff9f1;
  @apply py-16 text-center;
  .brown {
    @apply text-royal-blue;
  }
  p {
    color: #555555;
  }

  h4 {
    @apply text-xl tracking-widest;
    @apply text-royal-blue;
  }
  &__card {
    background-color: #fff;
    @apply shadow pt-6 rounded  text-center;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    h5 {
      @apply pt-4;
      color: #101115;
    }
    p {
      color: #555555;
      font-size: 17px;
      font-weight: 600;
    }
    h6 {
      font-size: small;
    }

    &--star {
      @apply flex justify-center;
      p {
        @apply text-royal-blue;
        font-size: 24px;
        @apply my-5;
      }
    }
    &--cardFooter {
      @apply flex;
      align-items: center;
      justify-content: space-around;
      border-top: 1px solid #dddd;
      height: 50px;
    }
  }
  &__card {
    @apply p-5 mb-5;
  }

  &__card:hover {
    transform: translateY(-8px);
  }

  &__card:hover h5 {
    @apply text-royal-blue;
  }
}

.instructorIcons {
  @apply p-2 m-1 text-white bg-blue-900 rounded-full shadow-lg;
  &:hover {
    @apply bg-blue-800
  }
  svg {
    @apply text-base;
  }
}

