.largestCourse{
    @apply py-20 ;
    h4{ @apply text-center ;  color: #f16126;}
    h3{ @apply text-center text-4xl mb-10;}

    &__cardSection{
        @apply flex;
        @apply py-5 px-5;
        height: 235px;


        &--TextSection{
            h5{
                color: #f16126;
                @apply ml-5 mt-5;
               
            }
            h6:hover{ color: #f16126;}
            h6{ @apply ml-5;}
             
            .leftSide{
                h6{
                    color:#f16126;
                    @apply mt-1 ml-5;
                 }
                 p{
                    color:#555555;
                    @apply ml-2;
                 }
            }
        }
        &--imgSection{
            img{
                height: 189px;
                width: 280px;
                border-radius: 50%;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
                 
            }
        }
        
        
    }

    &__detailsButton{
        background-color: #f16126;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 10px 10px;
        color: #fff;
        font-weight: 600;
        margin-top: 40px;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
    &__detailsButton:hover{
        background-color: #000;
    }
    &__cardSection:hover{
        @apply shadow-lg rounded;
    }
    &__cardSection:hover img {
        border-radius: 5px;
    }
}